.statistic {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}

@media (max-width: 376px) {
  .hiddenText {
    display: none;
  }

  .statistic {
    flex-direction: row;
    gap: 22px;
  }

}